<% include header.html %>
<!doctype html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Theme Template">
    <meta name="author" content="Nick Batlle and Jake Clark">
   <!-- <link rel="icon" href="images/favicon.ico">  -->
	<title>About NODE LP</title>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet" type="text/css">
    
    <!-- CSS files below will not link without a more specific file path (ex: ../public/css/ etc..) included when viewing the html page in a browser alone, however it WILL show the CSS when you spin up the app on the local host using the below file paths-->
    
        <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom stylesheet-->
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="jumbotron" id="about">
    <div class="container">
        <!--Try to come back to this to change h1 style using css, not in-line. Works for now-->
        <font color=#837896><h1>About NODE LP</h1></font>
        <br>
        <p class="mainbody">Bacon ipsum dolor amet ut in veniam short loin. Pork ut voluptate, porchetta chuck swine fatback. Bresaola non est, dolore turducken shankle in reprehenderit shoulder consectetur consequat jowl enim ham. Tongue pig ut do burgdoggen, voluptate tenderloin aliqua lorem chicken proident enim dolore magna. Reprehenderit meatball ad, occaecat in bacon pariatur duis aliquip pork short ribs fugiat shankle esse. Dolore kevin tri-tip bacon velit. Frankfurter pariatur prosciutto, tongue do id quis shoulder.</p>
        <br>
    </div>
</div>    
    
     <div class="container">
      <!-- Begin content columns -->
      <div class="row">
        <div class="col">
          <h2>Column 1</h2>
          <p>Bacon ipsum dolor amet tenderloin pork belly corned beef ground round kevin venison kielbasa pastrami landjaeger. Biltong cupim chuck fatback pig. Landjaeger meatloaf rump t-bone pork belly kevin brisket venison pig turducken pancetta chicken fatback flank. Venison sausage meatloaf pastrami pancetta tenderloin frankfurter, alcatra capicola landjaeger boudin bresaola salami rump. Tongue porchetta capicola meatloaf shankle cupim. Hamburger turkey pork picanha. </p>
          <p><a class="btn btn-default" href="#" role="button">CLICK THIS &raquo;</a></p>
        </div>
        <div class="col">
          <h2>Column 2</h2>
          <p>Bacon ipsum dolor amet doner leberkas bresaola sausage. Pastrami ham chicken, leberkas salami cupim bresaola tail jowl meatloaf ham hock. Rump ribeye fatback ham hock salami porchetta tail chuck spare ribs meatloaf doner t-bone alcatra. Rump tenderloin boudin pork loin jerky hamburger prosciutto cow tongue. Biltong rump landjaeger swine ground round. Rump bacon pancetta beef ribs chuck frankfurter. Salami ground round alcatra, cupim spare ribs sausage pork bacon jerky. </p>
          <p><a class="btn btn-default" href="#" role="button">CLICK IT NOW &raquo;</a></p>
       </div>
      </div>
<br>
<br>
      <footer>
        <p>Copyright &copy 2017 AutoThematic.Com</p>
      </footer>
    </div> <!-- /container -->
    
</body>
</html>